<!-- banniere -->
<app-banner [titleBanner]="bannerTitle" [bgBanner]="bannerBg" [textBanner]="bannerText">
</app-banner>
<!-- Fin banniere -->

<section class="section-sm bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <img src="assets/images/activities/eclairage.jpeg" alt="eclairage solaire" class="img-fluid w-100 hover-shadow rounded">
            </div>

            <!-- border -->
            <div class="col-12 mt-4">
                <div class="border-bottom border-primary"></div>
            </div>
            <div class="col-12 mb-5">
                <h2>Activité éclairage Solaire </h2>
                <p>
                    Les solutions innovantes pour eclairer et connecter l’Afrique
                </p>
            </div>
            <div class="d-flex">
                <div class="text-center mr-4">
                    <div class="p-4 bg-primary text-white rounded">
                        <span class="h2 d-block"> <i class="ti-tag"></i> </span>
                    </div>
                </div>
                <!-- notice content -->
                <div>
                    <h3 class="mb-4">Description de l'activité</h3>
                    <p>Dans une grande partie du monde en développement, les pertes après récolte peuvent atteindre 80 % en raison de l’absence de chaîne logistique d’entreposage frigorifique. Solar Freeze fournit une solution qui ne nécessite pas de connexion
                        internet pour les produits périssables. </p>
                    <p>Au Kenya, grâce à une plateforme fonctionnant sur un simple USSD, les agriculteurs peuvent commander des services logistiques pour leurs produits. Leur plateforme met également en relation les petits exploitants agricoles avec des
                        entrepôts frigorifiques portables alimentés par l’énergie solaire qui permettent d’éviter les pertes après la récolte.</p>

                    <!-- <ul class="list-styled mb-5">
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>porttitor accumsan id</li>
                        <li>Smart Library Portal</li>
                        <li>donec arcu lorem</li>
                    </ul> -->
                    <a href="{{siteUrl}}contact" class="btn btn-primary rounded-pill">Faire une demande</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Autres Activités</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Activité Eclairage public -->
            <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card rounded border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded" src="assets/images/activities/eclairage2.jpeg" alt="eclairage">
                    <div class="card-body rounded">
                        <a href="{{siteUrl}}activities/public">
                            <h4 class="card-title">Activité Eclairage public</h4>
                        </a>
                        <p class="card-text">Eclairer les villes et villages africains afin de les interconnecter</p>
                        <a href="{{siteUrl}}activities/public" class="btn btn-primary btn-sm rounded-pill">+ Détail</a>
                    </div>
                </div>
            </article>
            <!-- Activité Eclairage solaire -->
            <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card rounded border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded" src="assets/images/activities/eclairage.jpeg" alt="eclairage">
                    <div class="card-body rounded">
                        <a href="{{siteUrl}}activities/solaires">
                            <h4 class="card-title">Activité eclairage Solaire</h4>
                        </a>
                        <p class="card-text">Les solutions innovantes pour eclairer et connecter l’Afrique</p>
                        <a href="{{siteUrl}}activities/solaires" class="btn btn-primary btn-sm rounded-pill"> + Détail</a>
                    </div>
                </div>
            </article>
            <!-- Activité connectivité -->
            <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow rounded">
                    <img class="card-img-top rounded" src="assets/images/activities/connectivite.jpeg" alt="connectivité">
                    <div class="card-body rounded">
                        <a href="{{siteUrl}}activities/connectivité">
                            <h4 class="card-title">La connectivité</h4>
                        </a>
                        <p class="card-text">Nous apportons une egalite de chances face a l’information</p>
                        <a href="{{siteUrl}}activities/connectivité" class="btn btn-primary btn-sm rounded-pill"> + Détail</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>