<section class="page-title-section overlay " attr.data-background="{{bgBanner}}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb mb-2">
                    <li class="list-inline-item"><a class="h2 text-lifi font-secondary" href="/accueil">Accueil</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted"> {{titleBanner}} </li>
                </ul>
                <p class="text-lighten mb-0">{{textBanner}}</p>
            </div>
        </div>
    </div>
</section>