<!-- banniere -->
<app-banner [titleBanner]="bannerTitle" [bgBanner]="bannerBg" [textBanner]="bannerText">
</app-banner>
<!-- Fin banniere -->

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid w-100 mb-4 rounded hover-shadow" src="assets/images/show/don-lifiled.jpeg" alt="lifiled Apropos">
                <h2 class="section-title">A propos de LIFILED</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe ipsa illo
                    quod veritatis, magni debitis fugiat dolore voluptates! Consequatur, aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat perferendis sint optio similique. Et amet magni facilis vero corporis quos.</p>
                <p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum
                    a, facere fugit error accusamus est officiis vero in, nostrum laboriosam corrupti explicabo, cumque repudiandae deleniti perspiciatis quae consectetur enim. Laboriosam!</p>
            </div>
        </div>
    </div>
</section>

<section class="section bg-cover" data-background="assets/images/bg/histoire-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-4 position-relative success-video">
                <a class="play-btn venobox" href="https://youtu.be/B9_6idw0h98" data-vbtype="video">
                    <i class="ti-control-play"></i>
                </a>
            </div>
            <div class="col-lg-6 col-sm-8">
                <div class="bg-white p-5 rounded">
                    <h2 class="section-title">Historique</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- chiffre clé -->
<section class="section bg-primary">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="section-title text-white">Chiffres clés</h2>
        </div>
    </div>
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="ts-facts-img">
                        <h2 class="text-center text-white"> <i class="ti-user"></i> </h2>
                    </div>
                    <div class="text-center">
                        <h2 class="text-white "><span class="counterUp" data-count="53000">0</span></h2>
                        <h3 class="text-white ">Utilisateurs</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 mt-5 mt-sm-0">
                    <div class="ts-facts-img">
                        <h2 class="text-center text-white"> <i class="ti-home"></i> </h2>
                    </div>
                    <div class=" text-center ">
                        <h2 class="text-white"><span class="counterUp" data-count="12">0</span></h2>
                        <h3 class="text-white">Corporates</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 mt-5 mt-md-0">
                    <div class="ts-facts-img">
                        <h2 class="text-center text-white"> <i class="ti-bar-chart"></i> </h2>
                    </div>
                    <div class="text-center">
                        <h2 class="text-white"><span class="counterUp" data-count="80">0</span>%</h2>
                        <h3 class="text-white">Taux de réabonnement</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
                    <div class="ts-facts-img">
                        <h2 class="text-center text-white"> <i class="ti-world"></i> </h2>
                    </div>
                    <div class="text-center">
                        <h2 class="text-white"><span class="counterUp" data-count="8">0</span></h2>
                        <h3 class="text-white">Présences dans Pays Etranges</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fin Chiffre clé -->

<!-- partners -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Nos partenaires</h2>
            </div>
        </div>
        <div data-slick='{"slidesToShow": 4, "slidesToScroll": 1}' class="partner">
            <div class="d-flex justify-content-center align-item-center m-3">
                <div class="card border-0 d-flex justify-content-center align-item-center hover-shadow" style="width: 10rem; height: 12rem;">
                    <img src="assets/images/partners/Business_France_logo.png" class="card-img-top rounded" alt="logo Business France">
                    <h6 class="card-title text-uppercase text-center">Business France</h6>
                </div>
            </div>

            <div class="d-flex justify-content-center align-item-center m-3">
                <div class="card border-0 d-flex justify-content-center align-item-center hover-shadow" style="width: 10rem; height: 12rem;">
                    <img src="assets/images/partners/Électricité_de_France_logo.png" class="card-img-top rounded" alt="logo Électricité de France">
                    <h6 class="card-title text-uppercase text-center">Électricité de France</h6>
                </div>
            </div>

            <div class="d-flex justify-content-center align-item-center m-3">
                <div class="card border-0 d-flex justify-content-center align-item-center hover-shadow" style="width: 10rem; height: 12rem;">
                    <img src="assets/images/partners/logo-bad.png" class="card-img-top rounded" alt="logo de la BAD">
                    <h6 class="card-title text-uppercase text-center">Banque Africaine de Développement</h6>
                </div>
            </div>

            <div class="d-flex justify-content-center align-item-center m-3">
                <div class="card border-0 d-flex justify-content-center align-item-center hover-shadow" style="width: 10rem; height: 12rem;">
                    <img src="assets/images/partners/logo_banque-mondiale.jpg" class="card-img-top rounded" alt="logo de la banque mondiale">
                    <h6 class="card-title text-uppercase text-center">banque mondiale</h6>
                </div>
            </div>

            <div class="d-flex justify-content-center align-item-center m-3">
                <div class="card border-0 d-flex justify-content-center align-item-center hover-shadow" style="width: 10rem; height: 12rem;">
                    <img src="assets/images/partners/logo-vitib.png" class="card-img-top rounded" alt="logo vitib">
                    <h6 class="card-title text-uppercase text-center">vitib</h6>
                </div>
            </div>

            <div class="d-flex justify-content-center align-item-center m-3">
                <div class="card border-0 d-flex justify-content-center align-item-center hover-shadow" style="width: 10rem; height: 12rem;">
                    <img src="assets/images/partners/Logo_CFI_2018.jpg" class="card-img-top rounded" alt="logo CFI">
                    <h6 class="card-title text-uppercase text-center">CFI</h6>
                </div>
            </div>

            <div class="d-flex justify-content-center align-item-center m-3">
                <div class="card border-0 d-flex justify-content-center align-item-center hover-shadow" style="width: 10rem; height: 12rem;">
                    <img src="assets/images/partners/logo_fjn.jpg" class="card-img-top rounded" alt="logo fjn">
                    <h6 class="card-title text-uppercase text-center">Banque Africaine de Développement</h6>
                </div>
            </div>

            <div class="d-flex justify-content-center align-item-center m-3">
                <div class="card border-0 d-flex justify-content-center align-item-center hover-shadow" style="width: 10rem; height: 12rem;">
                    <img src="assets/images/partners/logo-french-tech.jpg" class="card-img-top rounded" alt="logo french-tech">
                    <h6 class="card-title text-uppercase text-center">french tech Abidjan</h6>
                </div>
            </div>

            <div class="d-flex justify-content-center align-item-center m-3">
                <div class="card border-0 d-flex justify-content-center align-item-center hover-shadow" style="width: 10rem; height: 12rem;">
                    <img src="assets/images/partners/LOGO-usaid.jpg" class="card-img-top rounded" alt="logo usaid">
                    <h6 class="card-title text-uppercase text-center">usaid</h6>
                </div>
            </div>

        </div>
    </div>

</section>
<!-- fin partner -->

<!-- section FAQ -->
<section>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">FAQ</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="accordion">
                    <div class="accordion-item border-left-0 border-right-0 pt-3">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                Question n°1
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </strong>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-left-0 border-right-0 pt-3">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                Question n°1
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </strong>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-left-0 border-right-0 pt-3">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                Question n°1
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </strong>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIn FAQ -->