<!-- banniere -->
<app-banner [titleBanner]="bannerTitle" [bgBanner]="bannerBg" [textBanner]="bannerText">
</app-banner>
<!-- Fin banniere -->

<!-- <section class="section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 mb-4 mb-md-0">
                <img class="img-fluid" src="assets/images/show/village-enfant.jpg" alt="village enfant">
            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase">Réalisation récentes</h2>
                <strong class="mb-4 d-block"><i>Site du projet - date de realisation - etc..</i></strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliquauis aute irure dolor. in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas cum ut ab nesciunt distinctio maxime expedita fugit laborum? Aliquid,
                    quia.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="assets/images/show/pateaux-solaire.jpeg" alt="Poteaux solaire">
                    <div class="card-body">
                        <h4 class="card-title mb-3 text-uppercase"> Installation</h4>
                        <p class="mb-1">Tâche éffectuées</p>
                        <ul class="list-styled">
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="assets/images/show/parabole.jpeg" alt="Poteaux solaire">
                    <div class="card-body">
                        <h4 class="card-title mb-3 text-uppercase"> Installation</h4>
                        <p class="mb-1">Tâche éffectuées</p>
                        <ul class="list-styled mt-auto">
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="assets/images/show/eclairage-public.jpg" alt="Poteaux solaire">
                    <div class="card-body">
                        <h4 class="card-title mb-3 text-uppercase"> Installation</h4>
                        <p class="mb-1">Tâche éffectuées</p>
                        <ul class="list-styled">
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- categorie -->
                <ul class="list-inline text-center filter-controls mb-5">
                    <li class="list-inline-item m-3 text-uppercase active" data-filter="all">Toutes les activités</li>
                    <li class="list-inline-item m-3 text-uppercase" data-filter="eclairage-public">Eclairage public</li>
                    <li class="list-inline-item m-3 text-uppercase" data-filter="eclairage-solaire">Eclairage solaire</li>
                    <li class="list-inline-item m-3 text-uppercase" data-filter="connectivite">connectivité</li>
                </ul>
            </div>
        </div>
        <!-- list -->
        <div class="row filtr-container">
            <div data-category="eclairage-public" class="col-lg-4 col-sm-6 mb-5 filtr-item">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="assets/images/show/pateaux-solaire.jpeg" alt="Poteaux solaire">
                    <div class="card-body">
                        <h4 class="card-title mb-3 text-uppercase"> Installation</h4>
                        <p class="mb-1">Tâche éffectuées</p>
                        <ul class="list-styled">
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div data-category="eclairage-solaire" class="col-lg-4 col-sm-6 mb-5 filtr-item">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="assets/images/show/eclairage-public.jpg" alt="Poteaux solaire">
                    <div class="card-body">
                        <h4 class="card-title mb-3 text-uppercase"> Installation</h4>
                        <p class="mb-1">Tâche éffectuées</p>
                        <ul class="list-styled">
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div data-category="eclairage-public" class="col-lg-4 col-sm-6 mb-5 filtr-item">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="assets/images/show/pateaux-solaire.jpeg" alt="Poteaux solaire">
                    <div class="card-body">
                        <h4 class="card-title mb-3 text-uppercase"> Installation</h4>
                        <p class="mb-1">Tâche éffectuées</p>
                        <ul class="list-styled">
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div data-category="eclairage-solaire" class="col-lg-4 col-sm-6 mb-5 filtr-item">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="assets/images/show/eclairage-public.jpg" alt="Poteaux solaire">
                    <div class="card-body">
                        <h4 class="card-title mb-3 text-uppercase"> Installation</h4>
                        <p class="mb-1">Tâche éffectuées</p>
                        <ul class="list-styled">
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div data-category="eclairage-public" class="col-lg-4 col-sm-6 mb-5 filtr-item">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="assets/images/show/pateaux-solaire.jpeg" alt="Poteaux solaire">
                    <div class="card-body">
                        <h4 class="card-title mb-3 text-uppercase"> Installation</h4>
                        <p class="mb-1">Tâche éffectuées</p>
                        <ul class="list-styled">
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div data-category="eclairage-solaire" class="col-lg-4 col-sm-6 mb-5 filtr-item">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="assets/images/show/parabole.jpeg" alt="Poteaux solaire">
                    <div class="card-body">
                        <h4 class="card-title mb-3 text-uppercase"> Installation</h4>
                        <p class="mb-1">Tâche éffectuées</p>
                        <ul class="list-styled">
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div data-category="connectivite" class="col-lg-4 col-sm-6 mb-5 filtr-item">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="assets/images/show/pateaux-solaire.jpeg" alt="Poteaux solaire">
                    <div class="card-body">
                        <h4 class="card-title mb-3 text-uppercase"> Installation</h4>
                        <p class="mb-1">Tâche éffectuées</p>
                        <ul class="list-styled">
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div data-category="connectivite" class="col-lg-4 col-sm-6 mb-5 filtr-item">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="assets/images/show/parabole.jpeg" alt="Poteaux solaire">
                    <div class="card-body">
                        <h4 class="card-title mb-3 text-uppercase"> Installation</h4>
                        <p class="mb-1">Tâche éffectuées</p>
                        <ul class="list-styled">
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div data-category="connectivite" class="col-lg-4 col-sm-6 mb-5 filtr-item">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="assets/images/show/village-enfant.jpg" alt="Poteaux solaire">
                    <div class="card-body">
                        <h4 class="card-title mb-3 text-uppercase"> Installation</h4>
                        <p class="mb-1">Tâche éffectuées</p>
                        <ul class="list-styled">
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>in voluptate velit esse cillum</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>